.main-nav {
  position: fixed;
  z-index: 100;
  min-width: 100%;
  max-width: 1020px;
  min-height: 66px;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.main-nav__toggle:hover .main-nav__toggle--burger1,
.main-nav__toggle:hover .main-nav__toggle--burger2,
.main-nav__toggle:hover .main-nav__toggle--burger3 {
  background-color: #d22856;
}
.main-nav__toggle:active .main-nav__toggle--burger1,
.main-nav__toggle:active .main-nav__toggle--burger2,
.main-nav__toggle:active .main-nav__toggle--burger3 {
  background-color: #cccccc;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 0;
  width: 50px;
  height: 66px;
  font-size: 0;
  z-index: 1000;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: 0;
  transition: all 0.3s linear;
}
.main-nav__toggle--burger1 {
  position: absolute;
  top: 21px;
  left: 0;
  width: 50px;
  height: 4px;
  z-index: 999;
  background-color: #ffffff;
  transition: all 0.3s linear;
}
.main-nav__toggle--burger2 {
  position: absolute;
  top: 31px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  transition: all 0.3s linear;
}
.main-nav__toggle--burger3 {
  position: absolute;
  top: 41px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  transition: all 0.3s linear;
}
.main-nav .main-nav__toggle--pressed1 {
  transform: rotate(-45deg);
  width: 40px;
  top: 30px;
  left: 10px;
}
.main-nav .main-nav__toggle--pressed2 {
  transform: rotate(0deg);
  height: 0;
  left: 40px;
  width: 0;
}
.main-nav .main-nav__toggle--pressed3 {
  position: absolute;
  top: 30px;
  width: 40px;
  transform: rotate(45deg);
  left: 10px;
}
.main-nav__logo {
  padding-left: 20px;
  position: absolute;
  top: 50%;
  z-index: 1000;
  transform: translateY(-50%);
  font-size: 0;
}
.main-nav__list {
  min-width: 100%;
  background-color: #283645;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  padding-top: 67px;
  margin: 0;
  list-style: none;
}
.main-nav__list li {
  background-color: #283645;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #000000;
}
.main-nav__list li:hover a {
  transition: all 0.3s linear;
  color: #d22856;
}
.main-nav__list .active-item:hover a {
  color: #fff;
}
.main-nav__list .active-item:active a {
  color: #fff;
}
.main-nav__list li:active a {
  color: #cccccc;
}
.main-nav__list li:first-child {
  border-top: 1px solid #000000;
}
.main-nav__list li:first-child::before {
  content: "";
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__list--closed {
  top: -320px;
}
.main-nav__list--closing {
  animation: closing 0.3s ease-out;
}
@keyframes closing {
  from {
    top: 1px;
  }
  to {
    top: -300px;
  }
}
.main-nav__list--opened {
  display: block;
  animation: opening 0.3s ease-out;
}
@keyframes opening {
  from {
    top: -300px;
  }
  to {
    top: 1px;
  }
}
.main-nav__item {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  line-height: 65px;
}
@media (min-width: 700px) {
  .main-nav {
    height: 110px;
  }
  .main-nav__logo {
    width: 146px;
    height: 40px;
    top: 35%;
    transform: translateY(-35%);
    padding-left: 40px;
  }
  .main-nav__list {
    background-color: #283645;
    padding-top: 110px;
  }
  .main-nav__list--opened {
    height: 310px;
  }
  .main-nav__list li:first-child {
    border-top: 1px solid #000000;
  }
  .main-nav__list li:first-child::before {
    top: 111px;
  }
  .main-nav__toggle {
    right: 40px;
    height: 110px;
  }
  .main-nav__toggle--burger1 {
    height: 4px;
    top: 44px;
  }
  .main-nav__toggle--burger2 {
    height: 4px;
    top: 54px;
  }
  .main-nav__toggle--burger3 {
    height: 4px;
    top: 64px;
  }
  .main-nav .main-nav__toggle--pressed1 {
    transform: rotate(-45deg);
    width: 40px;
    top: 50px;
    left: 10px;
  }
  .main-nav .main-nav__toggle--pressed2 {
    height: 0;
    left: 40px;
    width: 0;
  }
  .main-nav .main-nav__toggle--pressed3 {
    top: 50px;
    width: 40px;
    transform: rotate(45deg);
    left: 10px;
  }
}
@media (min-width: 1020px) {
  .main-nav {
    position: relative;
    top: 0;
    min-width: 100%;
    max-width: 1020px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .main-nav__wrapper {
    margin: auto;
    min-width: 1000px;
    max-width: 1200px;
  }
  .main-nav__logo {
    padding-left: 50px;
  }
  .main-nav__list {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
  }
  .main-nav__list li {
    background-color: transparent;
  }
  .main-nav__list li:hover a {
    transition: all 0.3s linear;
    color: #fff;
  }
  .main-nav__list li:active a {
    color: #cccccc;
  }
  .main-nav__list .active-item:hover a {
    color: #fff;
  }
  .main-nav__list .active-item:hover a {
    color: #fff;
  }
  .main-nav__list .active-item:active a {
    color: #fff;
  }
  .main-nav__list--closed {
    height: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }
  .main-nav__list--opened {
    height: 110px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
    position: relative;
    margin: 0;
    line-height: 110px;
    font-weight: 400;
    width: auto;
    font-style: normal;
    margin-left: 50px;
    margin-right: 50px;
    transition: all 0.3s linear;
  }
  .main-nav__item::after {
    content: "";
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.1s linear;
  }
  .main-nav__item:hover::after {
    width: 100%;
  }
  .main-nav__item:active::after {
    background-color: #ccc;
    width: 100%;
  }
  .main-nav__list li:first-child {
    border: none;
  }
  .main-nav__list li:first-child::before {
    height: 0;
  }
  .main-nav__list li {
    border: none;
  }
  .active-item .main-nav__item:hover::after {
    width: 0;
  }
}
.reviews {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 30px;
}
.reviews__cv {
  display: none;
}
.reviews__list {
  padding: 0 20px;
}
.reviews__item {
  height: 200px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.reviews__item p {
  height: 120px;
  margin-bottom: 0;
}
.reviews__item-title {
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
  font-style: normal;
  line-height: 25px;
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 700px) {
  .reviews__list {
    padding: 0 40px;
  }
  .reviews__cv {
    font-size: 14px;
    line-height: 2.14286;
    display: block;
    order: 2;
  }
  .reviews__item-title {
    font-size: 20px;
    line-height: 1.5;
    order: 1;
  }
  .reviews__item {
    font-size: 18px;
    line-height: 1.66667;
  }
  .reviews__item p {
    height: 120px;
    margin-bottom: 0;
  }
  .reviews__toggles {
    margin-top: 50px;
  }
}
@media (min-width: 1020px) {
  .reviews {
    max-width: 760px;
    margin: auto;
    position: relative;
    padding: 0;
    padding-top: 167px;
    background-image: url(../img/quotes.svg);
    background-repeat: no-repeat;
    background-position: 50% 72px;
  }
  .reviews__cv {
    font-size: 18px;
    line-height: 1.66667;
  }
  .reviews__item-title {
    font-size: 24px;
    line-height: 1.25;
  }
  .reviews__toggles::after {
    content: "";
    position: absolute;
    top: 219px;
    width: 30px;
    height: 30px;
    left: -80px;
    transform: rotate(135deg);
    cursor: pointer;
    border-bottom: 2px solid rgba(40, 54, 69, 0.3);
    border-right: 2px solid rgba(40, 54, 69, 0.3);
    background-color: transparent;
  }
  .reviews__toggles::before {
    content: "";
    position: absolute;
    top: 219px;
    width: 30px;
    height: 30px;
    right: -80px;
    transform: rotate(-45deg);
    cursor: pointer;
    border-bottom: 2px solid rgba(40, 54, 69, 0.3);
    border-right: 2px solid rgba(40, 54, 69, 0.3);
    background-color: transparent;
  }
  .reviews .reviews__toggles:hover::after,
  .reviews .reviews__toggles:hover::before {
    border-bottom: 2px solid #aaa;
    border-right: 2px solid #aaa;
  }
  .reviews .reviews__toggles:active::after,
  .reviews .reviews__toggles:active::before {
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
  }
}
.advantages__wrapper {
  padding-top: 310px;
}
.advantages__promo {
  margin-top: 300px;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}
.advantages__promo--top {
  margin-bottom: 26px;
}
.advantages__promo--bot {
  margin-bottom: 26px;
}
.advantages__description-wrapper {
  position: relative;
  padding: 50px 20px 300px;
  text-align: center;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 100% 30px;
  background-position: left 50% top 0;
  background-image: url("../img/bg-triangle-white.svg");
}
.advantages__description-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 157px;
  height: 280px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-image: url("../img/advantages-iphone.png");
}
.advantages__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.advantages__description {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}
.advantages__timer-wrapper {
  display: none;
}
@media (min-width: 700px) {
  .advantages__wrapper {
    width: 100%;
    padding-top: 50px;
  }
  .advantages__promo {
    margin-top: 300px;
    margin: 0;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .advantages__promo--top {
    margin-bottom: 0;
  }
  .advantages__promo--bot {
    margin-bottom: 52px;
  }
  .advantages__description-wrapper {
    text-align: left;
    width: 50%;
    padding: 50px 2% 40px 48%;
    margin-right: 0;
    background-size: 100% 50px;
  }
  .advantages__description-wrapper::after {
    width: 275px;
    height: 480px;
    left: 5%;
    background-size: 275px auto;
    transform: none;
    background-repeat: no-repeat;
    background-image: url("../img/advantages-iphone@2x.png");
  }
  .advantages__timer-wrapper {
    position: relative;
    display: block;
    width: 50%;
    padding: 70px 2% 150px 48%;
  }
  .advantages__timer-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 350px;
    width: 260px;
    padding-top: 0;
    background-position: 0 20px ;
    background-size: 260px auto;
    left: 6%;
    background-repeat: no-repeat;
    background-image: url("../img/timer.svg");
  }
  .advantages__timer-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15px;
    margin-top: 0;
  }
  .advantages__timer-description {
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 14px;
  }
  .advantages__timer-more {
    padding-bottom: 30px;
    line-height: 24px;
    font-size: 14px;
    text-decoration: underline;
    color: #d22856;
    transition: all 0.3s linear;
  }
  .advantages__timer-more:hover {
    color: #000;
  }
  .advantages__timer-more:active {
    color: #ccc;
    text-decoration: none;
  }
}
@media (min-width: 1020px) {
  .advantages {
    width: 100%;
    background-color: #f2f2f2;
  }
  .advantages__wrapper {
    padding-top: 0;
    width: 100%;
  }
  .advantages__description-wrapper {
    width: 100%;
    text-align: center;
    padding: 0;
    display: flex;
    margin: auto;
    height: 600px;
    font-size: 18px;
    line-height: 1.66667;
    justify-content: center;
    background-size: 100% 100px;
  }
  .advantages__description-wrapper::after {
    display: none;
  }
  .advantages__description-wrapper-1,
  .advantages__description-wrapper-2,
  .advantages__description-wrapper-3 {
    padding-top: 350px;
    width: 300px;
    background-repeat: no-repeat;
  }
  .advantages__description-wrapper-1 {
    background-image: url("../img/desktop-advantages-1.png");
  }
  .advantages__description-wrapper-2 {
    margin-left: 25px;
    margin-right: 25px;
    background-image: url("../img/desktop-advantages-2.png");
  }
  .advantages__description-wrapper-3 {
    background-image: url("../img/desktop-advantages-3.png");
  }
  .advantages__description {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    line-height: 1.66667;
  }
  .advantages__title {
    width: 300px;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
  }
  .advantages__promo {
    font-size: 50px;
    line-height: 1.2;
    background-color: #fff;
  }
  .advantages__promo--top {
    padding-top: 50px;
  }
  .advantages__promo--bot {
    padding-bottom: 80px;
    margin-bottom: 0;
  }
  .advantages__timer-wrapper {
    background-color: #f2f2f2;
    position: relative;
    width: 800px;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
  }
  .advantages__timer-wrapper::after {
    bottom: 0;
    height: 400px;
    width: 460px;
    padding-top: 0;
    background-position: 0 0;
    background-size: 305px auto;
    left: -80px;
  }
  .advantages__timer-wrapper-description {
    width: 500px;
    margin-left: 300px;
    margin-top: -100px;
  }
  .advantages__timer-description {
    width: 500px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .advantages__timer-title {
    padding-top: 0;
    font-size: 30px;
    line-height: 35px;
  }
  .advantages__timer-more {
    font-size: 18px;
    line-height: 30px;
  }
}
.contacts {
  padding-top: 42px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.contacts__wrapper {
  position: relative;
  z-index: 2;
}
.contacts__question {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}
.contacts__title {
  font-size: 18px;
  line-height: 1.66667;
  font-weight: 700;
  margin: 0;
}
.contacts__data {
  color: #d22856;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 300;
  margin: 0;
  margin-bottom: 14px;
}
.contacts__mail {
  margin-bottom: 14px;
}
.contacts__call {
  margin-bottom: 14px;
}
@media (min-width: 700px) {
  .contacts .contacts__adress .contacts__data {
    color: #d22856;
    text-decoration: none;
    margin-top: 0;
  }
  .contacts .contacts__adress .contacts__data:hover {
    color: #d22856;
    text-decoration: none;
  }
  .contacts .contacts__adress .contacts__data:active {
    color: #d22856;
    text-decoration: none;
  }
  .contacts {
    padding: 46px 40px 21px;
    position: relative;
  }
  .contacts__wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .contacts__question {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
  .contacts__title {
    display: inline-block;
    font-size: 18px;
    line-height: 1.66667;
    font-weight: 700;
    min-width: 100%;
    margin-bottom: 21px;
    text-align: center;
  }
  .contacts__data {
    width: 35%;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 300;
    color: #d22856;
    text-decoration: none;
    text-align: center;
    transition: all .3s;
    margin: 0 auto;
  }
  .contacts__data:hover {
    color: #000;
    text-decoration: underline;
  }
  .contacts__data:active {
    color: #ccc;
    text-decoration: none;
  }
  .contacts__call {
    max-width: 210px;
    height: 80px;
    padding-right: 10%;
    padding-left: 20px;
  }
  .contacts__mail {
    max-width: 245px;
    height: 80px;
  }
  .contacts__adress {
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 1020px) {
  .contacts {
    display: flex;
    flex-wrap: nowrap;
  }
  .contacts__call {
    width: 300px;
    padding: 0;
  }
  .contacts__mail {
    order: 1;
    width: 300px;
  }
  .contacts__adress {
    order: 0;
    width: 300px;
  }
  .contacts__data {
    width: 290px;
    margin: 0 auto;
  }
}
.map {
  position: relative;
}
.map::after {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 50px;
  z-index: 2;
  top: 0;
  background-position: left 50% top 0;
  background-image: url(../img/bg-triangle-white-footer.svg);
}
#map__wrapper {
  position: relative;
  z-index: 1;
  padding-top: 200px;
}
#map__wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
@media (min-width: 700px) {
  #map__wrapper {
    padding-top: 380px;
  }
}
@media (min-width: 1020px) {
  #map__wrapper {
    padding-top: 500px;
  }
}
@media (min-width: 1020px) {
  .page-header__wrapper {
    height: 0;
    width: 100%;
    margin: auto;
  }
}
.page-footer {
  display: none;
}
@media (min-width: 700px) {
  .page-footer {
    display: block;
    padding: 35px 40px;
    height: 51px;
    background-color: #fff;
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__logo {
    display: block;
    align-self: flex-start;
    width: 145px;
    height: 40px;
    background-size: 145px auto;
    background-image: url(../img/logotype-tablet-footer.png);
  }
  .page-footer__social {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0;
    width: 210px;
    background-repeat: no-repeat;
  }
  .page-footer__social:hover {
    border-color: #000;
  }
  .page-footer__social--twt {
    display: flex;
    position: relative;
    margin: 0;
    width: 45px;
    height: 45px;
    margin-right: 12px;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 3px solid rgba(40, 54, 69, 0.1);
    background-color: #fff;
    transition: all 0.3s;
    background-position: 50% 50%;
    background-size: 17px 14px;
    background-image: url(../img/twitter-logo.png);
  }
  .page-footer__social--fb {
    display: flex;
    position: relative;
    margin: 0;
    width: 45px;
    height: 45px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 50%;
    border: 3px solid rgba(40, 54, 69, 0.1);
    background-color: #fff;
    transition: all 0.3s;
    background-position: 50% 50%;
    background-size: 9px 19px;
    background-image: url(../img/facebook-logo.png);
  }
  .page-footer__social--yt {
    display: flex;
    position: relative;
    margin: 0;
    width: 45px;
    height: 45px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 50%;
    border: 3px solid rgba(40, 54, 69, 0.1);
    background-color: #fff;
    transition: all 0.3s;
    background-position: 50% 50%;
    background-size: 15px 14px;
    background-image: url(../img/youtube-logo.png);
  }
  .page-footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
  }
  .page-footer__copyright a {
    position: relative;
    padding-right: 45px;
    font-size: 14px;
    line-height: 51px;
    text-decoration: none;
    color: #283645;
  }
  .page-footer__copyright-logo {
    position: absolute;
    width: 27px;
    height: 34px;
    top: 50%;
    transform: translateY(-50%);
    right: -41px;
    margin-right: 40px;
  }
}
@media (min-width: 1020px) {
  .page-footer {
    padding-top: 45px;
    padding-bottom: 45px;
    width: 925px;
    margin: auto;
  }
  .page-footer__wrapper {
    width: 925px;
    margin: auto;
  }
  .page-footer__logo {
    background-image: url(../img/logotype-desktop-footer.png);
  }
  .page-footer__copyright a {
    font-size: 18px;
  }
}
.heading-background__title {
  width: 100%;
  color: #fff;
  position: absolute;
  font-weight: 300;
  text-align: center;
  font-size: 24px;
  margin: 0;
  bottom: 600px;
  margin-top: -30px;
  z-index: 1001;
}
.heading-background__wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 460px;
  background-image: url("../img/background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.heading-background__img-wrapper {
  position: absolute;
  bottom: -70px;
  width: 100%;
  height: 400px;
  z-index: 0;
  background-image: url("../img/iphone-in-hand.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: content;
}
.heading-background__download-wrapper {
  position: absolute;
  bottom: -200px;
  padding-top: 25px;
  width: 100%;
  height: 246px;
  background-color: #1d2631;
}
.heading-background__text {
  text-align: center;
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  padding-top: 10px;
  color: #fff;
}
.heading-background__download-btn {
  display: block;
  border: 3px solid #fff;
  border-radius: 25px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  width: 280px;
  text-align: center;
  font-weight: 700;
  line-height: 50px;
  margin: auto;
  transition: all 0.2s linear;
}
.heading-background__download-btn:hover {
  color: #d22856;
  background-color: #fff;
}
.heading-background__download-btn:active {
  color: #ccc;
}
.heading-background__download-buttons {
  display: flex;
  width: 240px;
  height: 100px;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  text-decoration: none;
  color: #fff;
}
.heading-background__download-button {
  width: 50px;
  height: 60px;
  padding-top: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.heading-background__download-button--apple {
  background-image: url("../img/apple-logo.png");
}
.heading-background__download-button--android {
  background-image: url("../img/android-logo.png");
}
.heading-background__download-button--windows {
  background-image: url("../img/microsoft-logo.png");
}
@media (min-width: 700px) {
  .heading-background__download-wrapper {
    width: 50%;
    max-width: 600px;
    margin-bottom: 400px;
    padding-left: 5px;
    top: 270px;
    background-color: transparent;
  }
  .heading-background__title_wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    max-width: 600px;
  }
  .heading-background__title {
    width: 220px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    line-height: 50px;
  }
  .heading-background__wrapper {
    height: 725px;
    background-image: url("../img/background-tablet.jpg");
  }
  .heading-background__text {
    width: 320px;
    font-size: 18px;
  }
  .heading-background__img-wrapper {
    height: 725px;
    bottom: 0;
    background: url(../img/iphone-in-hand-tablet.png) 99% 100% no-repeat;
  }
}
@media (min-width: 1020px) {
  .heading-background__title {
    font-size: 50px;
    line-height: 60px;
    bottom: 30px;
  }
  .heading-background__download-wrapper {
    top: 200px;
  }
  .heading-background__wrapper {
    height: 855px;
    background-image: url("../img/background-desktop.jpg");
  }
  .heading-background__img-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: -130px;
    max-width: 1200px;
    height: 725px;
    background: url(../img/iphone-in-hand-desktop.png) 99% 100% no-repeat;
  }
}
.rates {
  background-color: #f2f2f2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 30px;
  background-position: left 50% top 0;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(../img/bg-triangle-white.svg);
}
.rates__table {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 90px;
  min-width: 840px;
  width: 300%;
  border-spacing: 2px;
  border-color: grey;
  transition: transform 1s;
}
.rates th {
  position: relative;
  height: 98px;
  padding: 0;
  color: #fff;
  background-color: #283645;
  border-right: 2px solid #e5e5e5;
}
.rates td {
  position: relative;
  height: 61px;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #e5e5e5;
  border-top: none;
  width: 100%;
  padding: 0 70px 0 22px;
}
.rates td::before {
  content: attr(data-option);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 50px;
}
.rates td:first-child {
  border-top: 2px solid #e5e5e5;
}
.rates__icon {
  color: transparent;
  text-shadow: none;
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
.rates__icon--yes {
  width: 31px;
  height: 21px;
  background-image: url(../img/yes.png);
}
.rates__icon--no {
  width: 27px;
  height: 26px;
  background-image: url(../img/no.png);
}
.rates__title {
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1.66667;
  text-transform: uppercase;
  font-weight: 700;
}
.rates__price {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 300;
}
.rates__hit {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: -2px;
  width: 73px;
  height: 73px;
}
.rates__hit::before {
  content: "Хит";
  position: absolute;
  top: 12px;
  left: -24px;
  width: 102px;
  height: 28px;
  transform: rotate(-45deg);
  font-size: 14px;
  line-height: 2.14286;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  background-color: #d22856;
}
.rates__toggles {
  width: 64px;
  height: 16px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.rates__toggles::after:hover {
  border-bottom: 5px solid #aaa;
  border-right: 5px solid #aaa;
}
.rates__toggles::before:active {
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.rates__toggles:hover::after,
.rates__toggles:hover::before {
  border-bottom: 2px solid #aaa;
  border-right: 2px solid #aaa;
}
.rates__toggles:active::after,
.rates__toggles:active::before {
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.rates__input[id="rates-input-3"]:checked ~ .rates__table {
  transform: translateX(-66.66%);
}
.rates__input[id="rates-input-2"]:checked ~ .rates__table {
  transform: translateX(-33.33%);
}
.rates__input[id="rates-input-1"]:checked ~ .rates__table {
  transform: translateX(0%);
}
.rates td:first-child,
.rates th:first-child {
  display: none;
}
.rates__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 6px;
  background-color: rgba(40, 54, 69, 0.3);
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
}
.rates__toggle:hover {
  background-color: #aaa;
}
.rates__toggle:active {
  background-color: #ccc;
}
.rates__input[id="rates-input-1"]:checked ~ .rates__toggles .rates__toggle--1,
.rates__input[id="rates-input-2"]:checked ~ .rates__toggles .rates__toggle--2,
.rates__input[id="rates-input-3"]:checked ~ .rates__toggles .rates__toggle--3 {
  box-shadow: 0 0 0 3px #283645;
}
.rates input[type=radio] {
  display: none;
}
@media (min-width: 700px) {
  .rates {
    min-width: 600px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1020px;
    padding: 21px 20px 67px;
    background-size: 100% 55px;
  }
  .rates__icon {
    color: transparent;
    text-shadow: none;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .rates__title {
    margin-bottom: -3px;
    font-size: 16px;
    line-height: 1.875;
  }
  .rates__price {
    font-size: 18px;
    line-height: 1.66667;
  }
  .rates__option {
    font-size: 14px;
    line-height: 45px;
    border: none;
  }
  .rates__hit::before {
    top: 5px;
    left: -30px;
  }
  .rates__table {
    width: 100%;
    min-width: 600px;
  }
  .rates__toggles {
    display: none;
  }
  .rates td:first-child {
    border-top: none;
  }
  .rates td {
    position: relative;
    height: 47px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border: none;
  }
  .rates th {
    position: relative;
    width: 25%;
    height: 79px;
    padding: 5px 20px 0;
  }
  .rates td:first-child,
  .rates th:first-child {
    display: inline-block;
  }
  .rates__th--empty {
    opacity: 0;
    visibility: hidden;
  }
  .rates__input[id="rates-input-1"]:checked ~ .rates__table {
    transform: translateX(0);
  }
  .rates__input[id="rates-input-2"]:checked ~ .rates__table {
    transform: translateX(0);
  }
  .rates__input[id="rates-input-3"]:checked ~ .rates__table {
    transform: translateX(0);
  }
  .rates td {
    /* border: 2px solid #e5e5e5; */
  }
  .rates__tr {
    border-right: 2px solid #e5e5e5;
  }
  .rates__tr td:nth-child(2),
  .rates__tr td:nth-child(3) {
    border-right: 2px solid #e5e5e5;
  }
  .rates__tr:last-child {
    border-bottom: 2px solid #e5e5e5;
  }
  .rates__tr:first-child {
    border-bottom: 2px solid #e5e5e5;
  }
  .rates__tr:nth-child(3) {
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
  }
  .rates__option:first-child {
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
  }
  .rates .rates__option {
    padding: 0;
    width: 93.3%;
    padding-left: 5%;
  }
  td::before {
    display: none;
  }
}
@media (min-width: 1020px) {
  .rates {
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 100%;
  }
  .rates__table {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1020px;
  }
  .rates__title {
    font-size: 18px;
  }
  .rates__price {
    font-size: 24px;
  }
  .rates__option {
    font-size: 18px;
  }
  .rates th {
    position: relative;
    width: 25%;
    height: 79px;
    padding: 15px 20px 10px;
  }
}
.slider__item {
  list-style: none;
  padding: 0;
  text-align: center;
  display: none;
}
.rates__item {
  list-style: none;
  padding: 0;
  text-align: center;
}
.slider__toggles {
  width: 64px;
  height: 16px;
  margin: auto;
}
.slider__toggles::after:hover {
  border-bottom: 5px solid #aaa;
  border-right: 5px solid #aaa;
}
.slider__toggles::before:active {
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.slider__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 6px;
  background-color: rgba(40, 54, 69, 0.3);
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
}
.slider__toggle:hover {
  background-color: #aaa;
}
.slider__toggle:active {
  background-color: #ccc;
}
.slider input[type=radio] {
  display: none;
}
#reviews-input-1:checked ~ .reviews__list .slider__item:nth-child(1),
#reviews-input-2:checked ~ .reviews__list .slider__item:nth-child(2),
#reviews-input-3:checked ~ .reviews__list .slider__item:nth-child(3) {
  display: flex;
  flex-direction: column;
}
#reviews-input-1:checked ~ .slider__toggles label[for=reviews-input-1],
#reviews-input-2:checked ~ .slider__toggles label[for=reviews-input-2],
#reviews-input-3:checked ~ .slider__toggles label[for=reviews-input-3] {
  background-color: #ccc;
  box-shadow: 0 0 0 3px #283645;
}
#rates-input-1:checked ~ .rates__table .rates__item:nth-child(1),
#rates-input-2:checked ~ .rates__table .rates__item:nth-child(2),
#rates-input-3:checked ~ .rates__table .rates__item:nth-child(3) {
  display: flex;
  flex-direction: column;
}
#rates-input-1:checked ~ .slider__toggles label[for=rates-input-1],
#rates-input-2:checked ~ .slider__toggles label[for=rates-input-2],
#rates-input-3:checked ~ .slider__toggles label[for=rates-input-3] {
  background-color: #ccc;
  box-shadow: 0 0 0 3px #283645;
}
@media (min-width: 700px) {
  .reviews__toggles {
    margin-top: 30px;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
}
