.btn {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: border 0.1s linear, background-color 0.2s linear, color 0.2s linear;
}
.btn:focus,
.btn:hover {
  border-color: #d5c9bd;
}
.btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5c9bd;
}
.slider__item {
  display: none;
}
.slider__toggles {
  width: 150px;
  height: 10px;
  text-align: center;
  z-index: 1000;
}
.slider__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 12px;
  background-color: #f8f5f2;
  border: 1px solid #000000;
  vertical-align: top;
  cursor: pointer;
  transform: rotate(45deg);
  transition: background-color 0.2s linear;
}
.advantages__toggles .slider__toggle {
  border: 1px solid #ffffff;
  background-color: #242424;
}
.slider input[type=radio] {
  display: none;
}
#reviews-input-1:checked ~ .reviews__items .reviews__item:nth-child(1),
#reviews-input-2:checked ~ .reviews__items .reviews__item:nth-child(2),
#reviews-input-3:checked ~ .reviews__items .reviews__item:nth-child(3) {
  display: flex;
  flex-direction: column;
}
#reviews-input-1:checked ~ .slider__toggles label[for=reviews-input-1],
#reviews-input-2:checked ~ .slider__toggles label[for=reviews-input-2],
#reviews-input-3:checked ~ .slider__toggles label[for=reviews-input-3] {
  background-color: #000000;
}
#advantages-input-1:checked ~ .advantages__items .advantages__item:nth-child(1),
#advantages-input-2:checked ~ .advantages__items .advantages__item:nth-child(2),
#advantages-input-3:checked ~ .advantages__items .advantages__item:nth-child(3) {
  display: block;
  flex-direction: column;
}
#advantages-input-1:checked ~ .slider__toggles label[for=advantages-input-1],
#advantages-input-2:checked ~ .slider__toggles label[for=advantages-input-2],
#advantages-input-3:checked ~ .slider__toggles label[for=advantages-input-3] {
  background-color: #ffffff;
}
body {
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #242424;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.advantages__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  width: 100%;
  min-height: 280px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 960px;
  }
}
.advantages__wrapper::after {
  content: "";
  position: absolute;
  margin-top: -20px;
  width: 100%;
  height: 35px;
  bottom: -35px;
  left: 0;
  background-image: url(../img/corner-dark.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.advantages__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  min-height: 126px;
  padding: 15px 44px;
  padding-top: 125px;
}
.advantages__item p {
  text-align: center;
  margin: auto;
  margin-top: 0;
  font-size: 20px;
  line-height: 27px;
  width: 90%;
}
.advantages__item-title {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.advantages__item::before {
  content: "";
  position: absolute;
  margin-top: -20px;
  width: 95px;
  height: 95px;
  bottom: 190px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}
.advantages__item--fast::before {
  background-image: url(../img/advantage-1-illustration.svg);
}
.advantages__item--cool::before {
  background-image: url(../img/advantage-2-illustration.svg);
}
.advantages__item--pricy::before {
  background-image: url(../img/advantage-3-illustration.svg);
}
.advantages__item:nth-child(n+2) {
  display: none;
}
.advantages__toggles {
  margin: auto;
}
@media (min-width: 768px) {
  .advantages {
    position: relative;
  }
  .advantages__wrapper {
    width: 81%;
    padding-top: 42px;
    min-height: 510px;
  }
  .advantages__items {
    padding-bottom: 4px;
  }
  .advantages__toggles {
    display: none;
  }
  .advantages__item {
    position: relative;
    min-height: 95px;
    margin: 0 30px;
    margin-bottom: 60px;
    padding: 0;
    padding-bottom: 18px;
    padding-left: 128px;
  }
  .advantages__item::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: -20px;
    left: 7px;
    height: 1px;
    background-color: #4a4a4a;
  }
  .advantages__item:last-child::after {
    display: none;
  }
  .advantages__item::before {
    content: "";
    position: absolute;
    margin-top: 0;
    bottom: 0;
    top: 3px;
    left: 0;
    transform: none;
    width: 95px;
    height: 94px;
  }
  .advantages__item::after:last-child {
    height: 0px;
  }
  .advantages__item p {
    text-align: left;
    margin-top: 0;
    font-size: 20px;
    line-height: 27px;
    width: 100%;
  }
  .advantages__item-title {
    text-align: left;
    font-size: 30px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .advantages__item:nth-child(n+2) {
    display: block;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
  .advantages__wrapper::after {
    display: none;
  }
  .advantages::after {
    content: "";
    position: absolute;
    margin-top: -20px;
    width: 100%;
    height: 35px;
    bottom: -35px;
    left: 0;
    background-image: url(../img/corner-dark.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    max-width: 1200px;
    min-height: 275px;
    padding-top: 75px;
    padding-bottom: 59px;
  }
  .advantages__items {
    display: table;
    margin: auto;
    width: 100%
    height: 275px;
  }
  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
  }
  .advantages__item:nth-child(2) {
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
  }
  .advantages__item p {
    text-align: center;
  }
  .advantages__item-title {
    text-align: center;
  }
  .advantages__item::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }
  .advantages__item:nth-child(2) {
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .advantages__item::after {
    display: none;
  }
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 51px;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  z-index: 1000;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover {
  background-color: #624530;
}
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
              0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__items {
  font-weight: bold;
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.main-nav__item a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
.main-nav__user-login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.main-nav__user-login::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-login.png");
  opacity: 0.8;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .main-nav__user-item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 20;
    height: 80vh;
    background-color: #6a4d38;
    box-shadow: -3px 0 7px 4px rgba(0, 0, 0, 0.4);
  }
  /* .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    z-index: -1;
    width: 0;
    height: 100%;
    box-shadow: -7px 0 7px 4px rgba(0, 0, 0, 0.4);
  } */
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .main-nav__user-item {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
    background-color: black;
  }
  .main-nav__wrapper {
    width: auto;
    display: flex;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 570px;
  }
  .main-nav__item {
    margin-right: 32px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__item--active {
    position: relative;
  }
  .main-nav__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 3px;
  }
  .main-nav__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
  .main-nav__item a[href]:hover {
    background-color: black;
  }
  .main-nav__item a[href]:active {
    color: #ffffff;
    background-color: black;
    opacity: 0.3;
  }
  .main-nav__user-items {
    width: 60px;
  }
  .main-nav__user-login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0;
  }
  .main-nav__user-login::before {
    top: 29px;
    left: 12px;
  }
  .main-nav__user-login:hover::before {
    opacity: 1;
  }
  .main-nav__user-login:active::before {
    opacity: 0.3;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__wrapper {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__item {
    margin-right: 0;
  }
  .main-nav__item--active::after {
    right: 30px;
    left: 30px;
  }
  .main-nav__item a {
    padding-right: 31px;
    padding-left: 31px;
  }
  .main-nav__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
  .main-nav__user-items {
    width: auto;
    max-width: 160px;
  }
  .main-nav__user-login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .main-nav__user-login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .main-nav__user-login:hover::before {
    background-image: url("../img/icon-login-hover.png");
  }
  .main-nav__user-login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .main-nav__user-login:active::before {
    opacity: 0.1;
  }
  .main-nav__user-login::before {
    left: 15px;
  }
}
.news {
  background-color: #f8f5f2;
  color: #000000;
}
.news__wrapper {
  position: relative;
  width: auto;
  min-height: 390px;
}
.news__title {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 60px;
  margin-bottom: -80px;
  margin-top: 0;
}
.news__items {
  margin: 0;
  padding: 0;
  padding-bottom: 110px;
  list-style: none;
}
.news__item {
  height: 70px;
  margin: 0;
  margin-bottom: 16px;
  padding-bottom: 18px;
  padding-left: 90px;
}
.news__item:hover p,
.news__item:focus p {
  color: #826550;
  text-decoration: underline;
}
.news__item:hover time,
.news__item:focus time {
  background-color: #826550;
}
.news__item:hover time::after,
.news__item:focus time::after {
  border-top-color: #826550;
}
.news__item:active p {
  color: #6a4d38;
}
.news__item-wrapper:active time {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
}
.news__item-wrapper:active time::after {
  border-top-color: #6a4d38;
}
.news__item:nth-child(n+3) {
  display: none;
}
.news__item:nth-child(2) {
  padding-bottom: 0;
}
.news__to-all {
  display: block;
  font-weight: 700;
  text-align: center;
  margin: auto;
  width: 95%;
  line-height: 49px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e5ddd5;
}
.news__date {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  top: 100px;
  left: -75px;
  margin: 12px 20px 0 0;
  padding: 5px 12px 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-transform: lowercase;
  background-color: #000000;
  transition: background-color 0.1s linear, color 0.2s linear;
}
.news__date b {
  width: 25px;
}
.news__date::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  transition: border-color 0.1s linear;
  border-top-color: #000000;
  border-right-width: 25px;
  border-bottom: none;
  border-left-width: 25px;
}
.news__date::after:hover {
  transition: border-color 0.1s linear;
}
.news__date b {
  display: inline-block;
  margin-bottom: -4px;
  margin-left: -1px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}
.news__item p {
  width: 99%;
  min-height: 54px;
  margin-top: 35px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .news__wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 53%;
    height: 1px;
    background-color: #e5ddd5;
  }
}
@media (min-width: 768px) {
  .news {
    padding-top: 90px;
    padding-bottom: 28px;
  }
  .news__wrapper {
    width: 81%;
    margin: 0 auto;
    min-height: 270px;
    padding: 0;
  }
  .news__to-all {
    position: absolute;
    text-align: right;
    width: 111px;
    top: 0;
    right: 0;
    padding: 1px 25px 1px 13px;
    border: 1px solid #e5ddd5;
    color: #000000;
  }
  .news__date {
    top: 65px;
    left: -60px;
  }
  .news__title {
    font-size: 40px;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .news_items {
    display: flex;
    font-size: 0;
  }
  .news__item {
    display: inline-block;
    width: 38%;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    vertical-align: top;
  }
  .news__item:nth-child(2) {
    float: right;
    margin-right: 0;
  }
  .news__item p {
    margin-top: 0;
    margin-left: 10px;
  }
}
@media (min-width: 1200px) {
  .news {
    padding-top: 88px;
    padding-bottom: 32px;
  }
  .news__wrapper {
    max-width: 1200px;
  }
  .news__title {
    padding-left: 70px;
  }
  .news__items {
    display: flex;
    justify-content: space-around;
  }
  .news__item {
    display: inline-block;
    width: 25%;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    vertical-align: top;
  }
  .news__item p {
    margin-top: 0;
    margin-left: 0;
  }
  .news__item:nth-child(n+3) {
    display: inline-block;
  }
  .news__date {
    left: -75px;
  }
}
.page-footer {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 40px;
}
.page-footer__wrapper {
  width: auto;
}
.page-footer__contacts > b {
  margin-bottom: -30px;
  text-transform: uppercase;
}
.page-footer__copyright {
  margin-top: 35px;
}
.page-footer__copyright-link,
.page-footer__contacts-hidden {
  color: #ffffff;
  display: block;
  border: 1px solid #3f3f3f;
  margin: auto;
  width: 95%;
  margin-top: 12px;
  line-height: 49px;
  margin-bottom: 20px;
  transition: border-color 0.2s linear, background-color 0.2s linear, color 0.3s linear;
}
.page-footer__copyright a:hover,
.page-footer__copyright a:focus {
  border-color: #545454;
}
.page-footer__copyright a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #252525;
  border-color: #252525;
}
.page-footer__contacts-hidden {
  margin-top: 20px;
  padding-bottom: 1px;
}
.page-footer__contacts-hidden:active {
  background-color: inherit;
}
.page-footer__social {
  width: 100%;
  margin-top: 35px;
  border-top: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  font-size: 0;
  height: 98px;
}
.social-link {
  width: 33%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 98px;
  transition: border-color 0.3s linear, background-color 0.3s linear, opacity 0.3s linear;
}
.social-link--vk {
  background-image: url(../img/vk-big.png);
}
.social-link--fb {
  background-image: url(../img/fb-big.png);
  border-left: 1px solid #3f3f3f;
  border-right: 1px solid #3f3f3f;
}
.social-link--ig {
  background-image: url(../img/ig-big.png);
}
.social-link:hover,
.social-link:focus {
  border-color: #515151;
}
.social-link:active {
  background-color: #252525;
  border-color: #252525;
  opacity: 0.3;
}
.page-footer__adress {
  font-weight: 400;
}
@media (max-width: 767px) {
  .page-footer__contacts {
    margin-top: 70px;
  }
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    position: relative;
    width: 81%;
    margin: auto;
  }
  .page-footer__contacts {
    display: block;
    text-align: left;
  }
  .page-footer__contacts > b {
    text-align: left;
    text-transform: uppercase;
  }
  .page-footer__copyright-link {
    margin-top: 9px;
    width: 160px;
  }
  .page-footer__contacts-hidden {
    color: #ffffff;
    display: block;
    margin: auto;
    line-height: 20px;
    border: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-bottom: 50px;
    font-weight: 400;
    text-align: left;
  }
  .page-footer__contacts-hidden::before {
    content: "Тел.: ";
    text-transform: none;
  }
  .page-footer__adress {
    text-align: left;
    font-weight: 400;
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: -10px;
  }
  .page-footer__social {
    border: 0px;
    margin-bottom: 80px;
  }
  .social-link {
    width: 33%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 98px;
  }
  .social-link--vk {
    border-top: 1px solid #3f3f3f;
    border-left: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
  }
  .social-link--fb {
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
  }
  .social-link--ig {
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
    border-right: 1px solid #3f3f3f;
  }
  .page-footer__copyright {
    position: absolute;
    top: -33px;
    right: 2px;
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    max-width: 1200px;
    position: relative;
  }
  .page-footer__social {
    position: absolute;
    border: 0px;
    top: 0;
    left: 43%;
    margin-bottom: 80px;
    width: 165px;
    display: inline-block;
    margin: 0;
    margin-bottom: 50px;
  }
  .social-link {
    width: 48px;
    height: 48px;
    margin-top: 5px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 48px;
  }
  .social-link--vk {
    background-size: 35%;
    border: 1px solid #3f3f3f;
    margin-right: 6px;
  }
  .social-link--fb {
    background-size: 25%;
    border: 1px solid #3f3f3f;
    margin-right: 6px;
  }
  .social-link--ig {
    background-size: 40%;
    border: 1px solid #3f3f3f;
  }
  .page-footer__social::before {
    content: "Давайте дружить!";
    font-size: 18px;
  }
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 230px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: #000000;
  }
  .page-header__logo {
    order: 2;
    /*position: absolute;
    bottom: 0; */
    width: 100%;
    height: 400px;
    background-image: url("../img/bb-tablet.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center -9px;
    background-size: cover;
  }
  .page-header__logo--inner-page {
    height: 210px;
  }
  .page-header__logo img {
    position: relative;
    width: 370px;
    height: 101px;
    top: 40px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0px;
    background-size: cover;
  }
  .page-header__logo--inner-page {
    height: 310px;
  }
  .page-header__logo img {
    position: relative;
    width: 370px;
    height: 153px;
    top: 60px;
    bottom: 438px;
  }
}
.stats {
  width: auto;
}
@media (min-width: 768px) {
  .stats {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.stats__header {
  padding-top: 27px;
  padding-right: 38px;
  padding-left: 38px;
  min-height: 130px;
  color: #000000;
  background-color: #ffffff;
}
.stats__slogan {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px;
}
.stats__legend--bottom {
  padding-top: 20px;
  padding-bottom: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #242424;
}
.stats__legend--top {
  display: none;
}
.stats__legend sup {
  top: -0.25em;
  font-size: 90%;
}
.stats__items {
  width: 100%;
  border-collapse: collapse;
}
.stats__items tr {
  color: #ffffff;
  background-color: #404040;
}
.stats__items tr:nth-child(2) {
  background-color: #4e4e4e;
}
.stats__items tr:nth-child(3) {
  background-color: #353535;
}
.stats__items tr:nth-child(4) {
  background-color: #404040;
}
.stats__value,
.stats__field {
  width: 50%;
  padding: 20px;
  padding-bottom: 19px;
  vertical-align: top;
}
.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
}
.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
}
.stats__field {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    position: relative;
    z-index: 1;
    margin-top: -184px;
  }
  .stats__items {
    display: block;
  }
  .stats__items::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 31px 40px;
    min-height: 129px;
    padding: 0;
    padding-top: 31px;
    padding-bottom: 24px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(45deg);
  }
  .stats__slogan {
    width: 50%;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 34px;
    text-transform: none;
  }
  .stats__intro {
    width: 37.5%;
    padding-left: 30px;
    padding: 0;
    padding-top: 4px;
    text-align: left;
  }
  .stats__legend--top {
    display: block;
    width: 50%;
    padding-left: 34px;
    color: rgba(0, 0, 0, 0.3);
  }
  .stats__legend--bottom {
    display: none;
  }
  /*.stats__list {
    .clearfix();
    display: block;
  }*/
  .stats__items tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__items tr {
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 25px 35px;
    padding-bottom: 28px;
  }
  .stats__value,
  .stats__field {
    display: block;
    width: auto;
    padding: 0;
  }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: flex;
    margin-top: -159px;
  }
  .stats__header {
    flex-direction: column;
    width: 240px;
    min-height: 263px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .stats__header::before {
    top: 22px;
  }
  .stats__slogan {
    width: auto;
    padding-left: 0px;
    margin-bottom: 42px;
  }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding: 0;
  }
  .stats__legend--top {
    width: auto;
    padding-left: 0px;
    margin-top: auto;
  }
  .stats__items {
    display: flex;
    width: 640px;
  }
}
.reviews {
  min-height: 250px;
  background-color: #f8f5f2;
  color: #000000;
  border-top: 1px solid #e5ddd5;
  position: relative;
}
.reviews__wrapper {
  width: auto;
  position: relative;
  z-index: 1;
}
.reviews__title {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  margin-bottom: -80px;
  margin-top: 0;
}
.reviews__prev,
.reviews__next {
  display: none;
  transition: border-color 0.2s linear, background-color 0.2s linear;
}
.reviews__next:hover,
.reviews__prev:hover,
.reviews__next:focus,
.reviews__prev:focus {
  border-color: #d5c9bd;
}
.reviews__next:active,
.reviews__prev:active {
  background-color: #d5c9bd;
}
.reviews__author-name {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
.reviews__toggles {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
.reviews__author-name {
  width: 300px;
  margin-left: 45px;
  margin-top: 100px;
}
.reviews__author-foto {
  display: inline-block;
  position: absolute;
  top: 110px;
  margin-left: -25px;
  width: 50px;
  box-sizing: border-box;
  height: 48px;
  overflow: hidden;
  border: 1px solid #e9e2db;
}
.reviews__author-foto img {
  position: absolute;
  top: 10px;
  transform: scale(1.55);
  height: auto;
}
.reviews__item p {
  margin-left: 45px;
  margin-top: 5px;
  min-height: 54px;
  width: 95%;
}
@media (max-width: 767px) {
  .reviews::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: -35px;
    left: 0;
    background-image: url(../img/corner-light.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
  .reviews__write {
    display: none;
  }
}
@media (min-width: 768px) {
  .reviews {
    min-height: 350px;
    border-top: 1px solid #e5ddd5;
  }
  .reviews__wrapper {
    width: 81%;
    margin: auto;
  }
  .reviews__author-name {
    margin-top: 30px;
    margin-left: 19%;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .reviews__title {
    font-size: 40px;
    padding-left: 0;
    text-align: left;
    padding-top: 50px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .reviews__write {
    position: absolute;
    text-align: right;
    width: 111px;
    padding: 12px 20px 12px 20px;
    top: 40px;
    right: 0;
    border: 1px solid #e5ddd5;
    color: #000000;
  }
  .reviews__prev,
  .reviews__next {
    position: relative;
    display: block;
    width: 56px;
    height: 158px;
    margin-top: 45px;
    font-size: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    border: 1px solid #e5ddd5;
  }
  .reviews__prev {
    order: -1;
  }
  .reviews__items {
    display: flex;
    width: 100%;
    height: 158px;
    margin: 0px;
  }
  .reviews__item {
    position: relative;
    width: 100%;
    top: 45px;
    min-height: 156px;
    margin: 0;
    margin-bottom: 50px;
    border-top: 1px solid #e5ddd5;
    border-bottom: 1px solid #e5ddd5;
  }
  .reviews__item p {
    margin-left: 19%;
    padding-left: 10px;
    margin-top: 5px;
    min-height: 54px;
    width: 79%;
  }
  .reviews__author-foto {
    top: 40px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: 8%;
  }
  .reviews__author-foto img {
    position: absolute;
    top: 27px;
    left: 15px;
    transform: scale(2.5);
    height: auto;
  }
  .reviews__toggles {
    bottom: -50px;
    width: 130px;
    background-color: #f8f5f2;
  }
  .reviews__prev::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: none;
    border-right: 12px solid #000;
    transform: translate(-50%, -50%);
  }
  .reviews__next::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right: none;
    border-left: 12px solid #000;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1200px) {
  .reviews {
    min-height: 400px;
  }
  .reviews__wrapper {
    max-width: 1200px;
  }
  .reviews__title {
    padding-left: 70px;
    margin-top: 0;
    padding-top: 50px;
  }
  .reviews__write {
    width: 111px;
    top: 35px;
  }
  .reviews__author-foto {
    top: 0;
    border: none;
    border-radius: 0;
    width: 249px;
    height: 156px;
    left: 20px;
  }
  .reviews__author-foto img {
    position: absolute;
    width: 249px;
    height: 160px;
    top: 0;
    left: 5px;
    transform: scale(1);
    height: auto;
  }
  .reviews__author-name {
    margin-top: 45px;
    margin-left: 31%;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .reviews__item p {
    margin-left: 31%;
    padding-left: 10px;
    margin-top: 5px;
    min-height: 54px;
    width: 69%;
  }
  .reviews__toggles {
    bottom: -110px;
  }
  .reviews__prev {
    margin-right: 20px;
  }
  .reviews__next {
    margin-left: 20px;
  }
  .reviews__item {
    border-left: 1px solid #e5ddd5;
    border-right: 1px solid #e5ddd5;
  }
}
.page-inner {
  color: #000000;
  background-color: #f8f5f2;
}
.page-inner__header {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding-top: 28px;
}
.page-inner__back {
  display: none;
}
@media (min-width: 768px) {
  .page-inner::before {
    content: "";
    position: absolute;
    top: 240px;
    right: 0;
    left: 0;
    height: 42px;
    background-image: url(../img/corner-double.svg);
    background-repeat: no-repeat;
  }
  .page-inner__header {
    font-size: 40px;
    width: 350px;
    text-align: left;
    margin-right: 0;
    margin-bottom: 46px;
  }
  .page-inner__back {
    display: block;
    position: absolute;
    width: 88px;
    padding-left: 35px;
    padding-right: 35px;
    right: 0;
    bottom: -12px;
    height: 48px;
    line-height: 48px;
    color: #000000;
    border: 1px solid #e5ddd5;
  }
  .page-inner__navigation {
    position: relative;
    width: 81%;
    padding-top: 26px;
    max-width: 1200px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .page-inner::before {
    height: 65px;
    top: 317px;
  }
}
.month-work {
  padding: 28px 20px 20px 20px;
}
.month-work__img-wrapper {
  position: relative;
  height: 480px;
  background-color: #e6ded6;
  text-align: center;
  overflow: hidden;
}
.month-work__img-wrapper img {
  width: 280px;
}
.month-work__img-wrapper::before {
  content: "РАБОТА МЕСЯЦА";
  position: absolute;
  bottom: 29px;
  left: 0;
  z-index: 2;
  width: 128px;
  padding: 15px 15px 15px 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  background-color: #826550;
}
.month-work__img-wrapper::after {
  content: "";
  position: absolute;
  bottom: 29px;
  left: 168px;
  z-index: 2;
  width: 0;
  height: 0;
  border: 25px solid #826550;
  border-right: 8px solid transparent;
  border-left: none;
}
.month-work__title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 14px;
}
.month-work__item {
  padding: 20px 22px 37px 22px;
  border: 1px solid #e5ddd5;
  border-top: none;
}
.month-work__blockquote {
  margin: 0;
  margin-bottom: 15px;
}
.month-work__parameter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  text-transform: uppercase;
}
.month-work__parameter-list--haircut {
  position: relative;
  padding-left: 36px;
  margin-right: 15px;
}
.month-work__parameter-list--haircut::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-30%, -50%);
  background-image: url(../img/scissors-icon.svg);
}
.month-work__parameter-list--shaving {
  position: relative;
  padding-left: 36px;
  margin-right: 20px;
}
.month-work__parameter-list--shaving::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-30%, -50%);
  background-image: url(../img/beard-icon.svg);
}
.month-work__parameter-list--mustache {
  position: relative;
  padding-left: 36px;
  margin-right: 15px;
}
.month-work__parameter-list--mustache::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-30%, -50%);
  background-image: url(../img/mustache-icon.svg);
}
@media (min-width: 768px) {
  .month-work {
    padding: 28px 0px 20px 0px;
  }
  .month-work__item {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 43px 50px 20px;
    border-top: 1px solid #e5ddd5;
    border-left: none;
  }
  .month-work__img-wrapper {
    max-width: 270px;
    min-width: 270px;
    height: 480px;
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  .month-work__wrapper {
    display: flex;
    width: 81%;
    max-width: 1200px;
    margin: auto;
  }
  .month-work__title {
    margin-bottom: 26px;
  }
}
@media (min-width: 1200px) {
  .month-work__img-wrapper {
    max-width: 480px;
    min-width: 480px;
    height: 480px;
  }
  .month-work__img-wrapper::before,
  .month-work__img-wrapper::after {
    display: none;
  }
  .month-work__img-wrapper img {
    width: 480px;
    height: 480px;
  }
  .month-work__title {
    padding-top: 100px;
  }
  .month-work__item::before {
    content: "РАБОТА МЕСЯЦА";
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 2;
    width: 128px;
    padding: 15px 15px 15px 25px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    background-color: #826550;
  }
  .month-work__item::after {
    content: "";
    position: absolute;
    top: 40px;
    right: 168px;
    z-index: 2;
    width: 0;
    height: 0;
    border: 25px solid #826550;
    border-right: 8px solid transparent;
    border-left: none;
    transform: rotate(180deg);
  }
}
.works {
  padding: 0px 20px 35px 20px;
  position: relative;
}
.works__img-wrapper {
  position: relative;
  height: 176px;
  background-color: #e6ded6;
  text-align: center;
  overflow: hidden;
}
.works__img-wrapper img {
  width: 280px;
}
.works__window {
  margin-bottom: 20px;
}
.works__title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 14px;
}
.works__item {
  padding: 20px 22px 37px 22px;
  border: 1px solid #e5ddd5;
  border-top: none;
}
.works__blockquote {
  margin: 0;
  margin-bottom: 15px;
}
.works__parameter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  text-transform: uppercase;
}
.works__parameter-list--haircut {
  position: relative;
  padding-left: 36px;
  margin-right: 15px;
}
.works__parameter-list--haircut::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-30%, -50%);
  background-image: url(../img/scissors-icon.svg);
}
.works__parameter-list--shaving {
  position: relative;
  padding-left: 36px;
  margin-right: 20px;
}
.works__parameter-list--shaving::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-30%, -50%);
  background-image: url(../img/beard-icon.svg);
}
.works__parameter-list--mustache {
  position: relative;
  padding-left: 36px;
  margin-right: 15px;
}
.works__parameter-list--mustache::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-30%, -50%);
  background-image: url(../img/mustache-icon.svg);
}
.works::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -35px;
  left: 0;
  z-index: 2;
  height: 35px;
  background-image: url(../img/corner-light.svg);
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .works {
    display: flex;
    flex-direction: column;
    padding: 28px 0px 20px 0px;
  }
  .works__item {
    position: relative;
    width: 100%;
    min-height: 220px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 43px 50px 20px;
    border-top: 1px solid #e5ddd5;
    border-left: none;
    margin-bottom: 40px;
  }
  .works__img-wrapper {
    position: relative;
    max-width: 270px;
    min-width: 270px;
    height: 285px;
    overflow: hidden;
    margin: 0;
  }
  .works__wrapper {
    display: flex;
    width: 81%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 30px;
  }
  .works__title {
    margin-bottom: 26px;
  }
  .works__blockquote {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .works__main-wrapper {
    width: 81%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
  }
  .works__wrapper {
    margin: 0;
    flex-direction: column;
    width: 293px;
  }
  .works__item {
    min-height: 190px;
    padding: 30px 35px 30px 35px;
    border-top: none;
    border-left: 1px solid #e5ddd5;
    width: 221px;
  }
  .works__img-wrapper {
    max-width: 293px;
    min-width: 293px;
    height: 293px;
  }
  .works__img-wrapper img {
    max-width: 293px;
    min-width: 293px;
    height: 293px;
  }
  .works__blockquote {
    margin-bottom: 0;
  }
  .works::after {
    display: none;
  }
}
.prices {
  position: relative;
  background-color: #353535;
  color: #ffffff;
}
.prices__wrapper {
  width: auto;
  padding: 25px 20px 19px;
}
.prices__title {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding-top: 70px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.prices__table {
  width: 100%;
  border-collapse: collapse;
}
.prices__table tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 20px;
}
.prices__table td:not(1) {
  display: block;
}
.prices__table tbody {
  display: block;
  width: 100%;
}
.prices__columns {
  display: block;
}
.prices__discount {
  position: relative;
  padding: 30px 10px 30px 110px;
  margin-top: 25px;
  border: 2px solid #5e5e5e;
}
.prices__discount::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 57px;
  height: 57px;
  background-image: url(../img/clock.svg);
  transform: translateY(-50%);
}
.prices::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -35px;
  left: 0;
  height: 35px;
  background-image: url(../img/corner-photo.svg);
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  .col-1 {
    display: none;
  }
  .col-3 {
    width: 100%;
    order: 4;
  }
}
@media (min-width: 768px) {
  .col-1 {
    width: 70px;
    display: table-cell;
    line-height: 51px;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
  }
  .col-2 {
    font-weight: 700;
    padding-left: 19px;
    padding-right: 19px;
    line-height: 51px;
    text-align: left;
  }
  .col-3 {
    order: none;
    padding-left: 19px;
    padding-right: 19px;
    line-height: 51px;
    text-align: left;
  }
  .col-4 {
    padding-left: 19px;
    padding-right: 19px;
    line-height: 51px;
    text-align: left;
  }
  .prices__title {
    padding-top: 70px;
    width: 81%;
    font-size: 40px;
    max-width: 1200px;
    margin: auto;
    text-align: left;
    margin-bottom: 0;
  }
  .prices__table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  .prices__table td {
    display: table-cell;
    border: 2px solid #5e5e5e;
  }
  .prices__wrapper {
    width: 81%;
    max-width: 1200px;
    margin: auto;
  }
  .prices__table tr {
    display: table-row;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: -2px;
  }
  .prices__table tbody {
    display: table-row-group;
  }
  .prices__discount {
    font-weight: 700;
    font-size: 30px;
    padding: 0;
    line-height: 116px;
    margin-top: 30px;
    text-align: center;
  }
  .prices__discount::before {
    left: 30px;
    width: 75px;
    height: 75px;
  }
  .prices::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .prices__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 65px 0px 80px 0px;
  }
  .prices__table {
    width: 630px;
  }
  .prices__title {
    padding-top: 70px;
    width: 81%;
    max-width: 1200px;
    margin: auto;
    text-align: left;
  }
  .prices__discount {
    display: inline-block;
    width: 166px;
    min-height: 72px;
    margin: 0;
    padding: 190px 50px 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: none;
  }
  .prices__discount::before {
    top: 25px;
    left: 50%;
    width: 140px;
    height: 140px;
    transform: translateY(0) translateX(-50%);
  }
}
.form {
  position: relative;
}
.form__wrapper {
  position: relative;
  padding: 28px 20px 39px;
  width: auto;
}
.form__field-title {
  display: block;
  margin: 0 0 34px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.form__field input[placeholder] {
  color: #000000;
}
.form__field--fullname {
  margin-bottom: 32px;
}
.form__field--fullname input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 18px 10px;
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
  background-color: #fff;
  border: 1px solid #e5ddd5;
  outline: 0;
  margin-bottom: 6px;
  transition: border-color 0.2s linear;
}
.form__field--contacts {
  margin-bottom: 32px;
}
.form__field--contacts input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 18px 10px;
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
  background-color: #fff;
  border: 1px solid #e5ddd5;
  outline: 0;
  margin-bottom: 6px;
}
.form__field--fullname input:hover {
  border-color: #d5c9bd;
}
.form__field--fullname input:focus {
  border-color: #999999;
}
.form__field--contacts input:hover {
  border-color: #d5c9bd;
}
.form__field--contacts input:focus {
  border-color: #999999;
}
.form__field--comment textarea:hover {
  border-color: #d5c9bd;
}
.form__field--comment textarea:focus {
  border-color: #999999;
}
.form__field--comments {
  margin-bottom: 30px;
}
.form__field--comments textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 112px;
  padding: 8px 18px 10px;
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
  outline: 0;
  resize: none;
}
.form__field--beards {
  margin-bottom: 18px;
}
.form__field--beards ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__field--beards li {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
  text-align: center;
}
.form__field--beards label {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 90px;
  margin-bottom: 12px;
  padding-top: 64px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}
.form__field--beards label::before {
  content: "";
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  background-color: #ffffff;
  top: 3px;
  width: 50px;
  height: 50px;
  border: 1px solid #e5ddd5;
  transition: border-color 0.1s linear, box-shadow 0.1s linear;
}
.form__field--beards label::after {
  content: "";
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  top: 18px;
  z-index: -1;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  transition: border-color 0.1s linear, box-shadow 0.1s linear;
}
.form__field--beards label:hover::before {
  border-color: #d5c9bd;
}
.form__field--beards label:active::before {
  box-shadow: inset 0 0 0 15px #d5c9bd;
}
.form__field #beard-1:checked + label[for=beard-1]::after,
.form__field #beard-2:checked + label[for=beard-2]::after,
.form__field #beard-3:checked + label[for=beard-3]::after,
.form__field #beard-4:checked + label[for=beard-4]::after,
.form__field #beard-5:checked + label[for=beard-5]::after {
  z-index: 5;
  border: 1px solid #e5ddd5;
}
.form__field--beards input {
  display: none;
}
.form__field--offers input {
  display: none;
}
.form__field--offers ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.form__field--offers li {
  width: 100%;
  margin-bottom: 20px;
}
.form__field--offers label {
  position: relative;
  padding-right: 20px;
  padding-left: 60px;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
  cursor: pointer;
  transition: border-color 0.1s linear, background-color 0.1s linear;
}
.form__field--offers label::before {
  content: "";
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #e5ddd5;
}
.form__field--offers label:hover::before {
  border-color: #d5c9bd;
}
.form__field--offers label:active::before {
  background-color: #d5c9bd;
}
.form__field #offer-1:checked + label[for=offer-1]::before,
.form__field #offer-2:checked + label[for=offer-2]::before,
.form__field #offer-3:checked + label[for=offer-3]::before,
.form__field #offer-4:checked + label[for=offer-4]::before,
.form__field #offer-5:checked + label[for=offer-5]::before,
.form__field #offer-6:checked + label[for=offer-6]::before {
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}
.form__apply {
  width: 100%;
  padding: 13px 70px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 20px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.form__apply:active {
  color: rgba(255, 255, 255, 0.3);
}
.form__apply:focus,
.form__apply:hover {
  background-color: #6a4d38;
}
.form::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -35px;
  left: 0;
  z-index: 5;
  height: 35px;
  background-image: url(../img/corner-light.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .form {
    position: relative;
  }
  .form__wrapper {
    width: 81%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .form__field-title {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    position: relative;
    font-size: 30px;
  }
  .form__field-title::before {
    content: "";
    flex-grow: 1;
    margin-right: 26px;
    height: 1px;
    background-color: #e5ddd5;
  }
  .form__field-title::after {
    content: "";
    flex-grow: 1;
    margin-left: 26px;
    height: 1px;
    background-color: #e5ddd5;
  }
  .form__field--fullname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .form__field--fullname label {
    flex-grow: 1;
    margin-bottom: 0;
  }
  .form__field--fullname label[for=surname] {
    margin-left: -1px;
    margin-right: -1px;
  }
  .form__field--fullname input::-webkit-input-placeholder {
    font-size: 23px;
  }
  .form__field--contacts input::-webkit-input-placeholder {
    font-size: 23px;
  }
  .form__field--comments textarea::-webkit-input-placeholder {
    font-size: 23px;
  }
  .form__field--fullname input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 18px 10px;
    font-size: 23px;
    line-height: 30px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5ddd5;
    outline: 0;
    padding: 21px 24px 17px;
    margin-bottom: 35px;
  }
  .form__field--contacts {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .form__field--contacts input {
    font-size: 23px;
    padding: 21px 24px 17px;
    margin-bottom: 0;
  }
  .form__field--contacts label {
    margin-bottom: 35px;
  }
  .form__field--comments {
    margin-bottom: 0;
  }
  .form__field--comments textarea {
    font-size: 23px;
    min-height: 211px;
    padding: 19px 24px 17px;
    margin-bottom: 49px;
  }
  .form__field--beards label {
    font-size: 24px;
  }
  .form__field--offers {
    margin-bottom: 12px;
  }
  .form__field--offers ul {
    display: flex;
    flex-wrap: wrap;
  }
  .form__field--offers li {
    width: 50%;
    margin-bottom: 47px;
  }
  .form__field--offers label {
    font-size: 24px;
  }
  .form__apply {
    padding: 23px 0 24px;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form__wrapper {
    padding-bottom: 76px;
  }
  .form::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .form__field--fullname label {
    flex-grow: 0;
    width: 30.5%;
  }
  .form__field--offers li {
    width: 33%;
  }
}
.modal-login {
  display: none;
  position: absolute;
  top: 135px;
  padding: 30px 20px 37px;
  z-index: 21;
  background-color: #f8f5f2;
  filter: drop-shadow(0 30px 50px rgba(0, 0, 0, 0.75));
}
.modal-login--show {
  display: block;
}
.modal-login__title {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.modal-login p {
  display: block;
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
.modal-login__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal-login__form a:hover,
.modal-login__form a:focus {
  color: #826550;
}
.modal-login__form label[for=login],
.modal-login__form label[for=password] {
  display: flex;
  width: 100%;
  margin-bottom: 6px;
}
.modal-login__form input[id=login] {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
}
.modal-login__form input[type=text] {
  flex-grow: 1;
  padding: 10px 45px 11px 17px;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  border: 1px solid #e5ddd5;
  outline: 0;
}
.modal-login__form input[id=password] {
  background-image: url(../img/lock.svg);
  margin-bottom: 22px;
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
}
.modal-login__form input[type=checkbox] {
  display: none;
}
.modal-login__form label[for=remember] {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 60%;
  padding-left: 48px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  cursor: pointer;
}
.modal-login__form label[for=remember]::before {
  content: "";
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 33px;
  height: 33px;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #e5ddd5;
}
.modal-login #remember:checked ~ label[for=remember]::before {
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}
.modal-login a {
  display: block;
  width: 40%;
  margin-top: 2px;
  text-align: right;
  color: #000000;
  outline: 0;
  transition: color 0.2s linear;
}
.modal-login__enter {
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
  width: 130px;
  margin-top: 30px;
  margin-right: 20px;
  padding: 12px 42px;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.modal-login__enter:hover,
.modal-login__enter:focus {
  background-color: #6a4d38;
}
.modal-login__enter:active {
  color: rgba(255, 255, 255, 0.3);
}
.modal-login span {
  display: none;
}
.modal-login__close {
  flex-grow: 1;
  box-sizing: border-box;
  width: 130px;
  margin-top: 30px;
  padding: 12px 32px;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e5ddd5;
  transition: background-color 0.1s linear;
}
.modal-login__close:hover::before,
.modal-login__close:hover::after {
  opacity: 0.7;
}
.modal-login__close:active::before,
.modal-login__close:active::after {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .modal-login {
    position: fixed;
    top: 128px;
    left: 50%;
    box-sizing: border-box;
    width: 460px;
    padding: 50px 70px 57px;
    transform: translateX(-50%);
  }
  .modal-login__enter {
    width: 320px;
    margin-right: 0;
    padding-right: 60px;
    padding-left: 60px;
  }
  .modal-login__enter span {
    display: inline;
  }
  .modal-login__close {
    position: absolute;
    top: -34px;
    right: -50px;
    z-index: 105;
    width: 26px;
    height: 26px;
    font-size: 0;
    border: 0;
    cursor: pointer;
  }
  .modal-login__close::after {
    transform: rotate(45deg);
  }
  .modal-login__close::after,
  .modal-login__close::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: #ffffff;
  }
  .modal-login__close::before {
    transform: rotate(-45deg);
  }
  .modal-login--show {
    display: block;
    animation: bounce 0.6s;
  }
  @keyframes bounce {
    0% {
      transform: translate(-50%, -2000px);
    }
    70% {
      transform: translate(-50%, 30px);
    }
    90% {
      transform: translate(-50%, -10px);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }
}
